* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:dimgray;
}

.slider {
  width: 60%;
  height: 45em;
  margin: 10% auto;
  background-color: #222327;
  overflow: hidden;
}

.slider-control {
  position: relative;
  display: flex;
  left: 80%;
  width: 10em;
  top: -2%
}

.button {
  height: 1em;
  width: 1em;
  margin-right: 10%;
  cursor: pointer;
  border-radius: 50%;
  background-color: #000080;
}

.button:hover {
  background-color: #FFFFFF;
}

.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slider-container {
  width: 80%;
  height: 80%;
  margin: 5% auto;
  overflow: hidden;
}

.slide {
  width: 25%;
  /* margin: 5em; */
  transition: all 0.5s ease;
}

.slide img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

input[name="radio-button"] {
  visibility: hidden;
  display: none;
}

#radio1:checked ~ .active {
  margin-left: 0;
}
#radio2:checked ~ .active {
  margin-left: -25%;
}
#radio3:checked ~ .active {
  margin-left: -50%;
}
#radio4:checked ~ .active {
  margin-left: -75%;
}